:root.theme-light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #FF8DCB;
  --btn-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --btn-border: #353430;
  --btn-border-opacity: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #FF8DCB;
    --btn-color:#353430;
    --btn-border: #353430;
    --btn-border-opacity: rgba(53, 52, 48, 0.4);
    --background-image: url(../images/cover-image-light.png);
  }
}

